html {
  font-size: 62.5%;
}
body {
  color: #2f3131;
  font-family: Verdana, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #f8f1e5;
  padding-top: 20px;
}
form {
  padding: 30px auto;
  text-align: center;
}
input {
  font-size: 2.0rem;
  line-height: 1.4;
  padding: 8px;
}

/* Reset ios default style*/
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: #2f3131;
  margin: 0 0 .5em;
}
h1 { font-size: 3.6rem; }
h2, .pageTitle { font-size: 3.0rem; }
h3, .heading { font-size: 2.4rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }


/* class */
.center {
  text-align: center;
}
.inputField {
  margin: 0 0 10px;
  padding: 8px .75em;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  width: 80%;
  transition: all .25s;
}
.inputField:focus {
  border-color: #f9ba32;
  outline: 0;
  box-shadow: 0 0 3px #f9ba32;
}
.inputField.error {
  color: #d24136;
  border-color: #d24136
}
.inputField.error:focus {
  border-color: #d24136;
  box-shadow: 0 0 3px #d24136;
}
.btn {
  color: #FFF;
  font-size: 1.6rem;
  line-height: 1.4;
  font-size-adjust: 0.508;
  text-align: center;
  line-height: 34px;
  letter-spacing: 0.2em;
  position: relative;
  display: inline-block;
  padding: 8px .75em;
  background-color: #bbbbbb;
  border: none;
  height: 50px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 5px;
  min-width: 80%;
  box-shadow: 0 2px 0 #9a9a99;
  box-sizing: border-box;
  /* transition: all .25s; */
}
.btn:active {
  top: 3px;
  background-color: #adadad;
  box-shadow: 0 -1px 1px #9a9a99;
}
.submitBtn {
  background-color: #62A4CB;
  box-shadow: 0 2px 0 #426e86;
}
.submitBtn:active {
  background-color: #4F85A5;
  box-shadow: 0 -1px 0px #426e86;
}

/* Layout */
.header {
  position: relative;
  color: #f8f1e5;
  background-color: #2f3131;
  margin: 0;
  padding: 0 30px;
}
.header nav {
  text-align: right;
}

/* game */
#mycanvas {
  margin: 10px auto;
}

/* lanking */
.ranking .heading {
  border-bottom: 1px solid #2f3131;
}
.rankingList {
  font-size: 1.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.rankingList > li {
  padding: 0 0 7px;
}
